:root {
    --main-color: #00356D;
    --second-color: #f9532d;
  }
*{
    margin:0;
    padding:0;
}

body{
    font-size:1.1rem;
    background-color: var(--second-color);
    margin-top: 0.5rem;
}

main{
    background-color: white;
    padding-left:2rem;
    padding-right:2rem;
}
header{
    /* margin-top:1rem; */
    background-color: white;
}

.arrow{
    color:#f9532d;
    margin-left:1rem;
    margin-top:1rem;
}
header h1{
    text-align: center;
    padding-top:1rem;
}

i{
    font-size:1.5rem;
    margin-top:0.8rem;
}
main{
    padding-top:1.5rem;
}
main p{
    line-height: 1.9rem;
    padding-top:0.4rem;
    margin-bottom: 2rem;
    
}

main h1, h2, h4, h3{
    padding-bottom:1rem;
    padding-top:1rem;
}



h2{
    font-size:2rem;
}

#phase{
    text-align: center;
   
}

figure{
    display: flex;
    flex-direction: column;
    text-align: center;
}

img{
    cursor: zoom-in;
    width:80%;
    margin:0 auto;
 }

.images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  
}

.phase1-part2{
    margin-top:2rem;
}

.sql-images{
    display: flex;
    flex-direction: column;
    gap:2rem;
}

.sql-container{
    margin-top:1.5rem;
}

#PyMySQL figcaption{
    margin-bottom:1.5rem;
    
}

#summary-header{
    text-align: center;
}

#summary-header::after{
    content: '';
    border-bottom: 2px solid orange;
    display: block;
    width:30%;
    margin: 0 auto;
}

.summary{
    margin-top:2rem;
}


.summary ul{
    list-style-type: '-';
    list-style-position: inside;
    text-align: center;
   
}

.summary h2{
    text-align: center;
}


.summary ul li{
   padding-bottom:1rem;
   font-size: 1.3rem;
}

@media screen and (min-width:768px) {
    .images{
  
    }
}

@media screen and (min-width:1024px){

    #overview{
        display: none;
    }
    p{
        font-size: 1.5rem;
    }

    header h1{
        padding-bottom:2rem;
    }

    main p{
        padding-left:3rem;
        padding-right:3rem;
        width:80%;
        margin: 0 auto;
    }
    .images{
        display: flex;
        flex-direction: row;
    }

    img{
        width:600px;
    }

    .images img{
        width:400px;
    }

    .phase{
        margin-bottom:5rem;
    }

    figure{
        margin-top:2rem;
    }
    
}